@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Koulen&family=PT+Sans:wght@700&family=Poppins:wght@100;200&family=Roboto+Condensed:wght@700&family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  cursor: default;
  transition: 0.5s;
}

body {
  background: linear-gradient(
    to right,
    #373b44,
    #4286f4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 65px;
  margin-bottom: 25px;
  margin-top: 35px;
  padding-top: 15px;
  animation-name: winker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px;
}

.clock {
  width: 100px;
  font-size: 23px;
  position: absolute;
  left: 770px;
  top: 197px;
  text-shadow: 0 1px 1px white;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: #8ec5fc;
  text-align: center;
}

.clock:hover {
  background-color: #1889fa;
  box-shadow: 0px 0px 1px rgb(255, 246, 246);
}

footer {
  text-align: center;
  margin-top: 80px;
  font-size: 22px;
}

.restart-button {
  width: 100px;
  height: 58px;
  font-size: 36px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: #8ec5fc;
  border: none;
}

.restart-button:hover {
  background-color: #1889fa;
  box-shadow: 0px 0px 1px rgb(255, 246, 246);
}

table {
  margin-top: 50px;
}

.cell {
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 4px black;
  font-size: 35px;
  color: rgb(72, 72, 72);
}

.cell-hidden {
  background-color: rgb(134, 177, 186);
  box-shadow: 0px 0px 4px black;
}

.cell-shown {
  background-color: rgb(104, 230, 255);
}

.modal-container {
  background-color: black;
  width: 150px;
  height: 150px;
  margin-bottom: 150px;
}

.modal {
  background-color: rgba(252, 0, 0, 0.309);
  box-shadow: 0px 0px 5px rgb(250, 250, 250);
  width: 220px;
  height: 80px;
  position: absolute;
  left: 850px;
  top: 500px;
  display: none;
}

.modal:hover {
  background-color: rgba(0, 255, 81, 0.309);
}

.modal h2 {
  font-size: 40px;
}

@keyframes winker {
  from {
    color: #8ec5fc;
  }
  50% {
    color: #ca8cfa;
  }

  to {
    color: #8ec5fc;
  }
}
