@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Koulen&family=PT+Sans:wght@700&family=Poppins:wght@100;200&family=Roboto+Condensed:wght@700&family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  cursor: default;
}

body {
  background: linear-gradient(
    to right,
    #373b44,
    #4286f4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 65px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding-top: 15px;
  animation-name: winker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-decoration: underline;
}

.revealed-count {
  width: 100px;
  height: 58px;
  position: absolute;
  left: 1050px;
  top: 140px;
  background-color: #8ec5fc;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  transition: 0.5s;
}

.revealed-count:hover {
  background-color: #1889fa;
  box-shadow: 0px 0px 1px rgb(255, 246, 246);
}

.revealed-count h2 {
  padding-top: 10px;
  font-size: 21px;
}

.clock {
  width: 100px;
  font-size: 23px;
  position: absolute;
  left: 770px;
  top: 140px;
  text-shadow: 0 1px 1px white;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: #8ec5fc;
  text-align: center;
  transition: 0.5s;
}

.clock:hover {
  background-color: #1889fa;
  box-shadow: 0px 0px 1px rgb(255, 246, 246);
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
  color: #8ec5fc;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.restart-button {
  width: 100px;
  height: 58px;
  font-size: 36px;
  padding-bottom: 15px;
  margin-top: 21px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: #8ec5fc;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.restart-button:hover {
  background-color: #1889fa;
  box-shadow: 0px 0px 1px rgb(255, 246, 246);
}

table {
  margin-top: 135px;
}

.cell {
  width: 43px;
  height: 43px;
  box-shadow: 0px 0px 4px black;
  font-size: 28px;
  color: rgb(72, 72, 72);
  cursor: pointer;
  transition: 0.5s;
}

.cell-hidden {
  background-color: #7490ac;
  box-shadow: 0px 0px 4px black;
}

.cell-shown {
  background-color: rgb(104, 230, 255);
}

.modal-container {
  background-color: black;
  width: 150px;
  height: 150px;
  margin-bottom: 150px;
}

.modal {
  background-color: rgba(53, 53, 53, 0.476);
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  width: 250px;
  height: 75px;
  position: absolute;
  left: 830px;
  top: 400px;
  display: none;
  transition: 0.5s;
}

.modal:hover {
  background-color: rgba(0, 255, 81, 0.309);
}

.modal h2 {
  margin-top: 25px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0px 0px 3px black;
}

.button-container {
  margin-top: 30px;
  text-align: center;
  margin-left: 50px;
}

.button-container .easy {
  position: absolute;
  left: 770px;
}

.button-container .normal {
  position: absolute;
  left: 910px;
}

.button-container .hard {
  position: absolute;
  right: 720px;
}

.button-container button {
  font-size: 25px;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-right: 50px;
  padding: 5px;
  background-color: #8ec5fc;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 4px black;
  transition: 0.5s;
}

.button-container button:hover {
  background-color: #1889fa;
  box-shadow: 0px 0px 1px rgb(255, 246, 246);
}

.health-container {
  font-size: 35px;
  position: absolute;
  top: 135px;
  left: 700px;
  color: #e74c3c;
  text-shadow: 0px 0px 4px black;
  transition: 0.5s;
}

.health-container .life:hover {
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  color: #fb877b;
}

.hints-container {
  position: absolute;
  font-size: 35px;
  top: 130px;
  right: 713px;
}

.hints-container .hint {
  margin-top: 10px;
  color: rgb(248, 248, 32);
  text-shadow: 0px 0px 4px black;
  transition: 0.5s;
}

.hints-container .hint:hover {
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  color: rgb(199, 199, 100);
}

@keyframes winker {
  from {
    color: #8ec5fc;
  }
  50% {
    color: #ca8cfa;
  }

  to {
    color: #8ec5fc;
  }
}
